<html>
<head>
<title>
    <%=title%>
</title>
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>
<body>
    <h1> <%=title%></h1>

    <form action="/create-task" method="POST">
        <div class="inputcontainer">
        <input type="text" name="category" placeholder="Enter Title" class="category">
        <input type="date" name="date" class="date" >
        <input type="text" name="description" placeholder="Description" class="description">
        <button type="submit" class="submitbutton" ><i class="fas fa-plus"></i> ADD TASK</button>
    </div>
        </form action="create-task" method="POST"> 



<% for(let i of task_list){ %>
<div class="task">
<div class="details">
<p><h2><%=i.category%></h2></p>
<p><%=i.date%></p>
<p><%=i.description%></p>

</div>
<div class="delete-button">
    Delete Task
    <a href="/delete-task/?id=<%=i.description%>">
       <i class="fas fa-trash-alt"></i>
       </a> 
      
</div>  
</div>

<% } %>

</body>


</html>