<html>
<head>
<title>
    <%=title%>
</title>

<!-- Linking font aweasome and CSS to our HTML Page -->

<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>

<!-- head tags ends here and body starts here -->

<body>
    <h1> <%=title%></h1>

<!-- Input form to fetch details from user -->

    <form action="/create-task" method="POST">
        <div class="inputcontainer">
        <input type="text" name="category" placeholder="Enter Title" class="category">
        <input type="date" name="date" class="date" >
        <textarea type="text" name="description" placeholder="Description" rows="4" cols="50" class="description"></textarea>
        <!-- submit button to fetch the information from users -->

        <button type="submit" class="submitbutton" ><i class="fas fa-plus"></i> ADD TASK</button>

        <!-- delete button for deleting selected atsks -->
        <button type="submit" form="delete" id="deleteselected"><i class="far fa-trash-alt"></i> Delete</button>
        </div>
       
    </form action="create-task" method="POST"> 

<!-- Displaying Tasks using task_list variable -->

<form action="/delete" method="post" id="delete">
<% for(let i of task_list){ %>
<div class="task">

<!-- All task details are in details container -->

    <div class="details">

       <p><h2><%=i.category%></h2></p>
       <p><%=i.date%></p>   
      <p class="taskd"><%=i.description%></p>
    </div>

<!-- This is the delete anchor tag which contains delete button -->


<a href="/deleteTask/<%=i.id%>">
    <button type="button" id="dt">
       Delete task
    <i class="far fa-trash-alt"></i>
    </button>
</a>

<input type="checkbox" name="task" id="checkbox"value="<%=i._id%>">
</div>
<% } %>
</form>

</body>
</html>